---
import Layout from '../layouts/Layout.astro';
import Nav from '../components/Nav.astro';
import Hero from '../components/Hero.astro';
import Problem from '../components/Problem.astro';
import Solution from '../components/Solution.astro';
import Products from '../components/Products.astro';
import HowItWorks from '../components/HowItWorks.astro';
import Pricing from '../components/Pricing.astro';
import Comparison from '../components/Comparison.astro';
import Testimonials from '../components/Testimonials.astro';
import CTA from '../components/CTA.astro';
import Footer from '../components/Footer.astro';
---

<Layout>
	<Nav />
	<main>
		<Hero />
		<Problem />
		<Solution />
		<Products />
		<HowItWorks />
		<Pricing />
		<Comparison />
		<Testimonials />
		<CTA />
	</main>
	<Footer />
</Layout>
